.entenda_container {
  padding-top: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

.entenda_container h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #333;
  padding-bottom: 1.5em;
}

.entenda_container p {
  width: 70vw;
  line-height: 1.7em;
  text-indent: 1em;
}

.entenda_container span {
  font-weight: bold;
  color: #62ceaa;
}

.entenda_container img {
  width: 70%;
  border-radius: 80%;
  margin-top: 5em;
}

@media (max-width: 758px) {
  .entenda_container h1 {
    font-size: 1.8em;
  }
}